.App {
  text-align: center;
  background-color: rgb(49, 28, 4);
  color: rgb(211, 213, 137);
  font-family: Apple Chancery;
}

.App-logo {
  width: 50%;
  position: relative;
  padding: 30px 0px 50px 0px;
  left: 15%;
}

.App-header {
  background: url('./assets/wine.jpg') no-repeat center left;
  background-size:cover;
}

.App-intro {
  font-size: large;
}

#FBbutton{
  padding: 20px 20px 20px 20px;
}
/* .FBbutton {
  font-family: $font-family-default;
  border-width: calc-responsive(1, 468, 2, 1920);
  border-style: solid;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  background-color: #4C69BA;
  border-color: #4C69BA;
  padding: calc-responsive(15, 468, 20, 1920) calc-responsive(20, 468, 25, 1920);
}
          this is currently worthless. Looking into the documentary for https://www.npmjs.com/package/react-facebook-login
          We should dig into this when the time comes

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
