.App {
 text-align: center;
 background-color: rgb(49, 28, 4);
 color: rgb(211, 213, 137);
 font-family:'Kurale', serif;
 margin: auto;
 padding: auto;

}

.App-logo {
 width: 50%;
 position: center;
 padding: 30px 0px 50px 0px;
 margin-left: 15%;


}

.App-header {
 background: url('./assets/wine.jpg') no-repeat center left;
 background-size: cover;
}

.App-intro {
 font-size: large;
}

.btn {    -moz-box-shadow: 2px 3px 0px 0px #8a2a21
;
    -webkit-box-shadow: 2px 3px 0px 0px #8a2a21
;
    box-shadow: 2px 3px 0px 0px #8a2a21
;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a3536e
), color-stop(1, #29110f
));
    background:-moz-linear-gradient(top, #a3536e
5%, #29110f
100%);
    background:-webkit-linear-gradient(top, #a3536e
5%, #29110f
100%);
    background:-o-linear-gradient(top, #a3536e
5%, #29110f
100%);
    background:-ms-linear-gradient(top, #a3536e
5%, #29110f
100%);
    background:linear-gradient(to bottom, #a3536e
5%, #29110f
100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=‘#a3536e
’, endColorstr=‘#29110f
’,GradientType=0);
    background-color:#a3536e
;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #b39066
;
    display:inline-block;
    cursor:pointer;
    color:#e6c791
;
    font-family:Pacifico, serif;
    font-size:15px;
    padding: 3px 7px;
    text-decoration:none;
    text-shadow:0px 1px 0px #4f432e
;
}
.btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #29110f
), color-stop(1, #a3536e
));
    background:-moz-linear-gradient(top, #29110f
5%, #a3536e
100%);
    background:-webkit-linear-gradient(top, #29110f
5%, #a3536e
100%);
    background:-o-linear-gradient(top, #29110f
5%, #a3536e
100%);
    background:-ms-linear-gradient(top, #29110f
5%, #a3536e
100%);
    background:linear-gradient(to bottom, #29110f
5%, #a3536e
100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=‘#29110f
’, endColorstr=‘#a3536e
’,GradientType=0);
    background-color:#29110f
;
}
.btn:active {
    position:relative;
    top:3px;
}.input {
 background-color: “beige”;
 font-family: Pacifico, serif;
   -moz-box-shadow: 2px 3px 0px 0px #8a2a21
;
   -webkit-box-shadow: 2px 3px 0px 0px #8a2a21
;
   box-shadow: 2px 3px 0px 0px #8a2a21
;
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a3536e
), color-stop(1, #29110f
));
   background:-moz-linear-gradient(top, #a3536e
5%, #29110f
100%);
   background:-webkit-linear-gradient(top, #a3536e
5%, #29110f
100%);
   background:-o-linear-gradient(top, #a3536e
5%, #29110f
100%);
   background:-ms-linear-gradient(top, #a3536e
5%, #29110f
100%);
   background:linear-gradient(to bottom, #a3536e
5%, #29110f
100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=‘#a3536e
‘, endColorstr=‘#29110f
‘,GradientType=0);
   background-color:#a3536e
;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
   border:1px solid #b39066
;
   display:inline-block;
   cursor:pointer;
   color:#e6c791
;
   font-family:Pacifico, serif;
   font-size:15px;
   padding: 3px 7px;
   text-decoration:none;
   text-shadow:0px 1px 0px #4f432e
;
}
.btn:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #29110f
), color-stop(1, #a3536e
));
   background:-moz-linear-gradient(top, #29110f
5%, #a3536e
100%);
   background:-webkit-linear-gradient(top, #29110f
5%, #a3536e
100%);
   background:-o-linear-gradient(top, #29110f
5%, #a3536e
100%);
   background:-ms-linear-gradient(top, #29110f
5%, #a3536e
100%);
   background:linear-gradient(to bottom, #29110f
5%, #a3536e
100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=‘#29110f
‘, endColorstr=‘#a3536e
‘,GradientType=0);
   background-color:#29110f
;
}
.btn:active {
   position:relative;
   top:3px;
}

.input {
 background-color: "beige";
 font-family: Pacifico, serif;

}


/* #FBbutton{
 padding: 20px 20px 20px 20px;
}
.FBbutton {
 font-family: $font-family-default;
 border-width: calc-responsive(1, 468, 2, 1920);
 border-style: solid;
 color: #FFF;
 cursor: pointer;
 display: inline-block;
 font-size: 20px;
 background-color: #4C69BA ;
 border-color: #4C69BA ;
 padding: calc-responsive(15, 468, 20, 1920) calc-responsive(20, 468, 25, 1920);
}
         this is currently worthless. Looking into the documentary for https://www.npmjs.com/package/react-facebook-login
         We should dig into this when the time comes
*/
#burger  {
  animation: app-logo-spin infinite 15s linear;
  padding: 10px;
}
@keyframes app-logo-spin {
 from { transform: rotate(0deg); }
 to { transform: rotate(360deg); }
}
